<div class="text-center">
    <h2>{{title}}</h2>
    <p>{{body}}</p>
    <p>{{user.name}}: {{format_date createdAt}}</p>

    <p>
        <a href="/" class="btn btn-primary">More Reviews</a>
        <a href="/" class="btn btn-primary">New Reviews</a>
    </p>
</div>