
*{
    color: rgb(214, 81, 81);
}

h1 {
    text-align: center;
    padding: 0px;
    margin: 5px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(/logo/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div {
    text-align: center;
}

footer {
    text-align: center;
}

nav {
    text-align: end;
    font-size: 20px;
}

.no-button{
    border-radius: 15px;
    border-color: rgb(214, 81, 81);
}

.btn-primary{
    border-radius: 15px;
    border-color: rgb(214, 81, 81);
}

a{
    font-size: 25px;
    color: rgb(214, 81, 81);
    text-decoration: none;
}

.form-group{
    margin: 2px;
    color: rgb(214, 81, 81);
}

.delete-btn{
    border-radius: 15px;
}

